* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Pen Script', cursive;
    color: rgb(0, 0, 0);
  
    text-decoration: none;
  
  }
  
  body {
    /* background: url("../image/back_screen.jpg");
    background-size: 1920px 1080px;
    height: 100vh;
    height: -webkit-fill-available;
    background-repeat: no-repeat;
    background-color: #6f6150; */
  
    width: 100%;
    height: 100vh;
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    /* background-image가 컨테이너를 가득 채우지 못할 경우에도 반복하지 않는다. */
    background-size: cover;
    /* 사이즈가 container에 맞지 않아도 꽉 차도록 채운다. */
    background-position: center;
    /* background-image가 컨테이너에 가운데로 오도록 한다. */
    overflow-x: hidden;
    /*가로 스크롤바 없애기*/
    overflow-y: hidden;
    /*세로 스크롤바 없애기*/
  
     /* 드래그 방지 */
     -ms-user-select: none; 
     -moz-user-select: -moz-none;
     -khtml-user-select: none;
     -webkit-user-select: none;
     user-select: none;
    
   
  }
  
  .container {
    display: flex;
    height: 160vh;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .desk {
    /* border: 1px solid red; */
    background-color: rgb(254, 255, 182);
    text-align: center;
    position: absolute;
    top: 5%;
    left: 50%;
    width: 500px;
    height: 380px;
    margin-left: -250px;
    margin-right: -175px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    z-index: 2;
  }
  
  .screen {
    /* border: 1px solid red;  */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 15%;
    z-index: 1;
  }
  
  .screen>img {
    width: 80%;
  }
  
  .char {
    /* border: 1px solid red;  */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    bottom: 5%;
    z-index: 3;
  }
  
  .char>img {
    width: 70%;
  }
  
  h3 {
    font-size: 30px;
  }
  
  h2 {
    font-size: 40px;
  }
  
  .buttons {
    /* border: 1px solid red; */
    position: absolute;
    display: inline-block;
    top: 70%;
    left: 50%;
    width: 400px;
    height: 200px;
    margin-left: -200px;
    margin-right: -100px;
  }
  
  .buttons > button {
    background-color: #fff;
    width: 150px;
    height: 80px;
    text-align: center;
    font-size: 20px;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    transition: 0.6s;
  }
  
  .today:hover {
    opacity: 30%;
  }
  
  .affection:hover {
    opacity: 30%;
  }
  
  .health:hover {
    opacity: 30%;
  }
  
  .riches:hover {
    opacity: 30%;
  }
  
  @media screen and (max-width: 780px) {
    body {
        background-position: top;
        background-size: 780px 480px;
        background-repeat: no-repeat;
    }
  
    /* 모바일 수평 스크롤 금지 */
    html,
    body {
        max-width: 100%;
        height: 100vh;
        overflow-x: hidden;
    }
  
    .container {
        width: 100%;
    }
  
    .desk {
        width: 300px;
        height: 250px;
        margin-left: -150px;
        margin-right: -125px;
    }
  
    .buttons>button {
        width: 120px;
        height: 60px;
        margin: 9px;
    }
  
    h2 {
        font-size: 25px;
    }
  
    .char>img {
        width: 200px;
    }
  
    h3 {
        font-size: 10px;
        
    }
    
  
  }
  
  .fadein_1 {
    /* border: 1px solid red; */
    display: block;
  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  
    margin-top: 60px;
    margin: 10px;
    padding: 10px;
    animation: fadein 3s;
    -moz-animation: fadein 3s;
    /* Firefox */
    -webkit-animation: fadein 3s;
    /* Safari and Chrome */
    -o-animation: fadein 3s;
    /* Opera */
  }
  .fadein_2 {
    /* border: 1px solid red; */
    display: block;
  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    margin: 10px;
    padding: 10px;
    animation: fadein 9s;
    -moz-animation: fadein 9s;
    -webkit-animation: fadein 9s;
    -o-animation: fadein 9s;
  }
  
  .fadein_3 {
    /* border: 1px solid red; */
    display: block;
  
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    margin: 10px;
    padding: 10px;
    animation: fadein 27s;
    -moz-animation: fadein 27s;
    -webkit-animation: fadein 27s;
    -o-animation: fadein 27s;
  }
  
  @keyframes fadein {
      from {
          opacity: 0;
      }
  
      to {
          opacity: 1;
      }
  }
  
  @-moz-keyframes fadein {
  
      /* Firefox */
      from {
          opacity: 0;
      }
  
      to {
          opacity: 1;
      }
  }
  
  @-webkit-keyframes fadein {
  
      /* Safari and Chrome */
      from {
          opacity: 0;
      }
  
      to {
          opacity: 1;
      }
  }
  
  @-o-keyframes fadein {
  
      /* Opera */
      from {
          opacity: 0;
      }
  
      to {
          opacity: 1;
      }
  }