* {
    margin: 0;
    padding: 0;
    font-family: 'Nanum Pen Script', cursive;
    color: rgb(0, 0, 0);

    text-decoration: none;

}

body {
    width: 100%;
    height: 100vh;
    background-image: url("../image/background.jpg");
    background-repeat: no-repeat;
    /* background-image가 컨테이너를 가득 채우지 못할 경우에도 반복하지 않는다. */
    background-size: cover;
    /* 사이즈가 container에 맞지 않아도 꽉 차도록 채운다. */
    background-position: none;
    /* background-image가 컨테이너에 가운데로 오도록 한다. */

    overflow-x: hidden;
    /*가로 스크롤바 없애기*/
    overflow-y: hidden;
    /*세로 스크롤바 없애기*/

    /* 드래그 방지 */
    -ms-user-select: none;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;

}

.container {
    /* border: 1px solid red; */
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 500px;
    margin-left: -400px;
    margin-right: -250px; */
}

.name {
    /* border: 1px solid red; */
    text-align: center;
    position: absolute;
    top: 2%;
    left: 50%;
    width: 800px;
    height: 200px;
    margin-left: -400px;
    margin-right: -100px;
}

.rabbit {
    background: url("../image/rabbit.png");
    width: 169px;
    height: 348px;
    position: fixed;
    bottom: 15%;
    left: 30%;
}

.pig {
    background: url("../image/pig.png");
    width: 169px;
    height: 348px;
    position: fixed;
    bottom: 17%;
    right: 20%;
}

.mouse {
    background: url("../image/mouse.png");
    width: 169px;
    height: 348px;
    position: fixed;
    bottom: 15%;
    right: 27%;
}

.rabbit:hover {
    transform: translateY(-30px);
}

.pig:hover {
    transform: translateY(-20px);
}

.mouse:hover {
    transform: translateY(-40px);
}

/* 
h1 {
    font-size: 100px;
    color: rgb(231, 231, 221);
    text-shadow: 4px 2px 2px rgba(0, 0, 0, 0.333); 

    position: absolute;
    top: 35%;
    width: 100%;

    text-shadow:     0 1px 0 hsl(174,5%,80%),
                        0 2px 0 hsl(174,5%,75%),
                        0 3px 0 hsl(174,5%,70%),
                        0 4px 0 hsl(174,5%,66%),
                        0 5px 0 hsl(174,5%,64%),
                        0 6px 0 hsl(174,5%,62%),
                        0 7px 0 hsl(174,5%,61%),
                        0 8px 0 hsl(174,5%,60%),
        
                        0 0 5px rgba(0,0,0,.05),
                        0 1px 3px rgba(0,0,0,.2),
                        0 3px 5px rgba(0,0,0,.2),
                    0 5px 10px rgba(0,0,0,.2),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.3);
    } */

h2 {
    font-size: 40px;
    color: black;
}

h3 {
    font-size: 30px;
    color: black;
}

.perspective {
    /* border: 1px solid red; */
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    display: inline-block;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 368px;
    margin: 10px;
    border-radius: 3px;
    box-sizing: border-box;
    transition: all 8s;

    bottom: 8%;
}


.perspective span {
    font-size: 20px;
    position: absolute;
    background-color: rgb(255, 232, 167);
    color: rgb(0, 0, 0);
    width: 300px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    /* display: none; */
    opacity: 1;
    /* transition: 0.5s;  */
    visibility: hidden;
}

.perspective span:after {
    content: '';
    position: absolute;
    background-color: rgb(255, 232, 167);
    width: 20px;
    height: 20px;
    transform: rotate(45deg) translateX(-50%);
    bottom: -18px;
    left: 50%;
}

.perspective:hover span {
    /* display: block; */
    opacity: 1;
    visibility: visible;
}

.door1 {
    /* border: 1px solid red; */
    background: url("../image/door.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 189px;
    height: 368px;
    /* position: fixed; */
    position: absolute;
    /* top: 41.7%; */
    top: 50%;
    right: 50%;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, .0) inset;
    transition: 0.6s;
    transform-origin: left;
    cursor: pointer;
    transform: scale(1);
}

.door3 {
    /* border: 1px solid red; */
    background: url("../image/door2.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 189px;
    height: 368px;
    /* position: fixed; */
    position: absolute;
    /* top: 41.7%; */
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, .0) inset;
    transition: 0.6s;
    transform-origin: left;
    cursor: pointer;
    transform: scale(1);
}

.door2 {
    /* border: 1px solid red; */
    background: url("../image/door.png");
    background-repeat: no-repeat;
    background-position: center center;
    width: 189px;
    height: 368px;
    /* position: fixed; */
    position: absolute;
    /* top: 41.7%; */
    top: 50%;
    left: 50%;
    box-sizing: border-box;
    border-radius: 3px;
    box-shadow: 0 0 0 10px rgba(255, 255, 255, .0) inset;
    transition: 0.6s;
    transform-origin: left;
    cursor: pointer;
    transform: scale(1);
}

.door2:hover {
    transform: translateX(-120px);
}

.alert {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-align: center;
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #000;
    font-size: 25px;
    transform-origin: left;
    transform: rotateY(180deg);
    opacity: 0;
    animation-name: go;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
    width: 500px;
}

/*  */


@media screen and (max-width: 780px) {

    /* 모바일 수평 스크롤 금지 */
    html,
    body {
        max-width: 100%;
        height: 100vh;
        overflow-x: hidden;
        /* position: fixed; */
    }

    .hidden {
        display: none;
    }

    .name {
        /* top: 3%;
        width: 400px;
        height: 150px;
        margin-left: -200px;
        margin-right: -75px; */
        display: none;
    }

    .container {
        width: 100%;
        border-bottom: 100px;
        top: 1000px;
    }

    .perspective {
        bottom: 12%;
        max-width: 70%;
        max-height: auto;
    }

    .span {
        top: -10px;
        width: 80px;
        height: 80px;

    }

    .door1 {
        width: 100px;
        top: 11%;
        width: 60%;
        height: 100%;

    }

    .door2 {
        width: 100px;
        top: 11%;
        width: 60%;
        height: 100%;
    }

    .door3 {
        width: 100px;
        top: 11%;
        width: 60%;
        height: 100%;
    }

}
